@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

body {
  font-family: 'Jersey 10', 'sans serif'
}

.font-jersey {
  font-family: 'Jersey 10', 'sans serif'
}

.font-audiowide {
  font-family: 'Audiowide', cursive;
}