@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Jersey 10";
  src: url("/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: 400; /* o el peso real de la fuente */
  font-style: normal;
  font-display: swap;
  /* Importante para rendimiento */
}

@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: 400; /* o el peso real de la fuente */
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
}

body {
  font-family: "Jersey 10", "sans serif";
}

.font-jersey {
  font-family: "Jersey 10", "sans serif";
}

.font-audiowide {
  font-family: "Audiowide", cursive;
}

.juego {
  display: grid;
  height: 100vh;
  width: 100%;
}

.fondoRuta {
  position: relative;
  width: 97%;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  background-repeat: repeat-x;
  background-size: contain;
  animation: moverFondoRuta 10s linear infinite;
  z-index: 1;
}

.auto {
  position: absolute;
  bottom: 5px;
  width: 100px;
  transform: translateY(8%);
  transition:
    left 0.5s ease,
    top 0.5s ease;
  z-index: 4;
}

@keyframes moverFondoRuta {
  from {
    background-position: 0 0;
  }

  to {
    background-position-x: -2000px;
  }
}

.gridComodin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.comodin {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 20px;
}

.fondo-city {
  position: relative;
  overflow: hidden;
}

.fondo-city::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/src/assets/images/fondocity.png");
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
  z-index: 0;
}

.fondo-city > * {
  position: relative;
  z-index: 1;
}

.titulo {
  height: 15%;
  align-items: anchor-center;
}

.arreglo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  width: 100%;
}

.botonGral {
  font-family: "Jersey 10";
  text-align: center;
  background-color: rgba(0, 0, 0, 0.455);
  color: #5df9f9;
  border: 4px solid #5df9f9;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.botonGral:hover {
  transform: scale(1.05);
  text-decoration: none;
  color: #f95ec8;
  border: 5px solid #f95ec8;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.star {
  animation: twinkle 2s infinite;

}

.pixel-corners {
  clip-path: polygon(
    0 4px,
    4px 4px,
    4px 0,
    calc(100% - 4px) 0,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0 calc(100% - 4px)
  );
}



@keyframes bounce-slow {
  0%,
  100% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -4px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 1s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00f0ff, #00f0ff);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00c8d1, #00f0ff);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #00f0ff #ffffff00;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
.animate-wiggle {
  animation: wiggle 0.6s infinite;
}

@keyframes correr {
  0% {
    left: -100px;
  }
  100% {
    left: 100vw;
  }
}

.correr-imagen {
  animation: correr 5s linear infinite;
}

@keyframes agrandar {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes latir {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.pulse-heartbeat {
  animation: latir 4s ease-in-out infinite;
}

.coin-flip {
  animation: agrandar 0.6s ease-in-out;
}

.botonBrillante {
  animation: latir 1s infinite;
  box-shadow:
    0 0 20px #00ffff,
    0 0 40px #00ffff;
  border: 2px solid #00ffff;
}
.botonBrillante:hover {
  box-shadow:
    0 0 30px #ff00ff,
    0 0 60px #ff00ff;
  border: 2px solid #ff00ff;
}
